@using System.Globalization
@using XboxTrack.Components.Dialogs
@inject IClipboardService ClipboardService
@inject IDialogService DialogService

<MediaQuery Media="(max-width: 650px)" @bind-Matches="_mobileSize"/>

@if (ViewModel.PurchaseHistory.Any() is false)
{
    <MudFileUpload T="IBrowserFile" Accept=".zip" FilesChanged="UploadFile" MaximumFileCount="100">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload">
                Upload Info Pack
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
}
else
{
    <MudPaper Class=@($"always-on-top {GetSearchInputClass}")>
        <MudTextField
            T="string"
            @bind-Value="SearchString"
            Class="mx-2 pa-2"
            Clearable="true"
            Immediate="true"
            IconSize="Size.Medium"
            AdornmentIcon="@Icons.Material.Filled.Search"
            Adornment="Adornment.Start"
            Placeholder="Search"/>
    </MudPaper>

    <MudDataGrid
        @ref="Grid"
        Items="@ViewModel.PurchaseHistory"
        Filterable="true"
        FilterMode="DataGridFilterMode.Simple"
        QuickFilter="@QuickFilter"
        Striped="true"
        Dense="true"
        RowClass="align-top-left"
        Virtualize="true"
        OverscanCount="5"
        Loading="ViewModel.IsLoading"
        RowsPerPage="50">

        <LoadingContent>
            Loading...
        </LoadingContent>

        <ToolBarContent>
            <img style="width: 128px" alt="xbox logo" src="./xbox-logo.svg"/>
        </ToolBarContent>
        <Columns>
            <TemplateColumn Title=@GetTitleHeader 
                            Sortable="false" 
                            CellClass="d-flex flex-column align-center"
                            CellStyle="min-height: 195px;">
                <CellTemplate>
                    <MudImage Src="@context.Item.LinkImage" 
                              Elevation="25" 
                              Class=@($"{GetImageSize} rounded-lg")/>
                    
                    @if (_mobileSize is false)
                    {
                        <PurchaseStatus Status="@context.Item.Status"/>
                    }
                    
                    <div>
                        <MudChip Size="Size.Small" Color="Color.Default">@context.Item.User</MudChip>

                        <MudTooltip Text="@context.Item.ProductId">
                            <MudAvatar @onclick="() => CopyToClipboard(context.Item?.ProductId ?? string.Empty)" Color="@Color.Primary"
                                       Variant="Variant.Outlined" Size="Size.Small">
                                @((context.Item?.ProductId ?? "")[..2])
                            </MudAvatar>
                        </MudTooltip>

                        <MudLink
                            Href="@context.Item.Link"
                            Disabled="@string.IsNullOrWhiteSpace(context.Item.Link)"
                            Target="_blank">
                            <MudIconButton Size="Size.Small"
                                           Color="@(string.IsNullOrWhiteSpace(context.Item.Link) ? Color.Dark : Color.Primary)"
                                           Icon="@Icons.Material.Filled.InsertLink"/>
                        </MudLink>

                        <MudIconButton
                            @onclick="() => FilterByCode(context.Item.ProductId)"
                            Size="Size.Small"
                            Color="@Color.Primary"
                            Icon="@Icons.Material.Filled.Search"/>
                    </div>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Description">
                <CellTemplate>
                    @context.Item.Description

                    @if (context.Item.ItemsInPack is not null && context.Item.ItemsInPack.Any())
                    {
                        @if (_mobileSize is false)
                        {
                            <ItemsInPackList ItemsInPack="@context.Item.ItemsInPack"/>
                        }
                        else
                        {
                            <MudIconButton
                                @onclick="() => OpenDialog(context.Item)"
                                Size="Size.Small"
                                Color="@Color.Primary"
                                Icon="@Icons.Material.Filled.TextSnippet"/>
                        }
                    }
                    
                </CellTemplate>
            </PropertyColumn>
            
            @if (_mobileSize is false)
            {
                <PropertyColumn Property="x => x.Type">
                    <CellTemplate>
                        <MudChip Color="Color.Default">
                            @context.Item.Type
                        </MudChip>
                    </CellTemplate>
                </PropertyColumn>
                
                <PropertyColumn Property="x => x.Price" CellClass="align-right" Title="Price">
                    <CellTemplate>
                        @(GetPriceLocalCurrency(context.Item))
                    </CellTemplate>
                </PropertyColumn>
            }
            <PropertyColumn Property="x => x.UsdPrice" CellClass="align-right" Title="USD Price" Format="N2"/>
            <PropertyColumn Property="x => x.Date" Title="Date" Format="MMM dd, yyyy"/>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="XboxPurchaseHistory"/>
        </PagerContent>
    </MudDataGrid>
}

<style>
    .align-right {
        text-align: right;
    }

    .align-top-left {
        vertical-align: top;
        text-align: left;
    }

    .always-on-top {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        border: 1px solid rgba(0, 0, 0, 0.21);
    }

    .image-size {
        height: 150px !important;
        width: 150px !important;
    }

    .image-size-mobile {
        height: 100px !important;
        width: 100px !important;
    }
    
    .full-width {
        width: 100%;
    }
</style>

@code {
    [CascadingParameter] public required PageIndexViewModel ViewModel { get; set; }

    private bool _mobileSize;

    private string GetImageSize => _mobileSize ? "image-size-mobile" : "image-size";
    private string GetSearchInputClass => _mobileSize ? "full-width" : "";
    private string GetTitleHeader => _mobileSize ? "" : "Details";
    private string GetPriceLocalCurrency(XboxPurchaseHistory item) => $"{item.Price:N2} {item.Currency}";
    
    private MudDataGrid<XboxPurchaseHistory> Grid { get; set; } = null!;

    private string? SearchString { get; set; }

    private void CopyToClipboard(string text)
    {
        ClipboardService.CopyToClipboard(text);
    }

    private Func<XboxPurchaseHistory, bool> QuickFilter => x
        => string.IsNullOrWhiteSpace(SearchString) ||
           (x.User is not null && x.User.Contains(SearchString, StringComparison.OrdinalIgnoreCase)) ||
           (x.ProductId is not null && x.ProductId.Contains(SearchString, StringComparison.OrdinalIgnoreCase)) ||
           (x.Description is not null && x.Description.Contains(SearchString, StringComparison.OrdinalIgnoreCase)) ||
           (x.Type is not null && x.Type.Contains(SearchString, StringComparison.OrdinalIgnoreCase)) ||
           x.Price.ToString(CultureInfo.InvariantCulture).Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
           (x.Currency is not null && x.Currency.Contains(SearchString, StringComparison.OrdinalIgnoreCase)) ||
           x.UsdPrice.ToString(CultureInfo.InvariantCulture).Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
           x.Date.ToString(CultureInfo.InvariantCulture).Contains(SearchString, StringComparison.OrdinalIgnoreCase) ||
           (x.Status is not null && x.Status.Contains(SearchString, StringComparison.OrdinalIgnoreCase)) ||
           (x.Link is not null && x.Link.Contains(SearchString, StringComparison.OrdinalIgnoreCase)) ||
           (x.ItemsInPack?.Where(i => i.Contains(SearchString, StringComparison.OrdinalIgnoreCase)).Any() ?? false);

    private void FilterByCode(string? code)
    {
        SearchString = code ?? string.Empty;
    }

    private async Task UploadFile(IBrowserFile? file)
    {
        if (file is null)
        {
            return;
        }

        // Read the ZIP file
        using var memoryStream = new MemoryStream();

        await file
            .OpenReadStream(maxAllowedSize: 100 * 1024 * 1024) // 100 MB Max
            .CopyToAsync(memoryStream);

        memoryStream.Position = 0;

        await ViewModel.GetPurchaseItems(memoryStream);
    }

    private async Task OpenDialog(XboxPurchaseHistory item)
    {
        var parameters = new DialogParameters<GameDescriptionDialog>
        {
            {
                x => x.ItemsInPack, item.ItemsInPack
            }
        };

        var options = new DialogOptions 
        { 
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true
        };

        var dialog = await DialogService.ShowAsync<GameDescriptionDialog>(
            item.Description, 
            parameters, 
            options
        );
        
        await dialog.Result;
    }
}